[2018-09-17 13:34] mybit-bot opened #1 "new icon set"
Introduction:

Requirements:

Resources:
Link w/ everything I sent Jose
Turn about Us page into document

Examples of expected quality:

Definition of Complete:

Additional Information:

[2018-09-17 13:34] mybit-bot opened #2 "Design the new careers page for the MyBit website"
Introduction: MyBit needs a careers page to showcase open positions at the company.

Page Layout Structure
Core Page
About company
Open positions
CTA to join in DDF or Telegram

Secondary Pages
Job specific details which include job description, what you will work on, what you will bring to MyBit, additional details, and apply with button underneath text.

Requirements:
Follow Brand Guidelines and

[2018-09-17 13:34] mybit-bot opened #3 "Design Portfolio Page for MyBit Go"
Introduction:
MyBit Go needs a fresh new design for its portfolio page. This is the section where users can view different data sets, in different formats, related to their investments. MyBit Go utilises ANT Design so any submitted work should follow that framework.

Requirements:
When I first load it I want to see all my key data and my top performing assets

These 4 should be the default:
 Asset

[2018-09-17 13:39] mybit-bot opened #4 "design for funding multiple bounties with one transfer"

[2018-09-17 13:39] mybit-bot opened #5 "Design dApp tracker with internal block explorer"
Introduction: MyBit needs an internal explorer and dApp tracker designed. Think of it as a hybrid of Kyber's Tracker, Etherscan, and dappradar used to showcase only transactions and other information specific to the MyBit Network and all dApps running on it.

Requirements:
Header includes: 24 hr MYB volume (pulled from coinmarketcap), MYB price and % change, circulating supply (- locked with +/- %

[2018-09-17 13:44] mybit-bot opened #6 "tokensale dashboard"

[2018-09-22 12:44] mybit-bot opened #7 "mybit load screen animated loading logo"
Introduction: We take great pride in the small details at MyBit. This is why we need a custom load screen animation created and implemented for the MyBit Decentralised Development Fund (DDF) and MyBit Go.

Requirements: This should be an animation of the MyBit Logo that replaces the standard loading "circle." It needs to be Implemented on MyBit Go and the DDF so two separate pull requests are requ

[2018-09-22 14:19] mybit-bot opened #8 "test"

[2018-09-22 14:29] #8 closed

[2018-09-25 16:22] status-open-bounty commented on #2
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x20096bf0bf3e895cd94ff55568e857184511e9453d235ae9500554eb08a877b9](https://etherscan.io/tx/0x20096bf0bf3e895cd94ff55568e857184511e9453d235ae9500554eb08a877b9)

[2018-09-27 14:29] mybit-bot opened #9 "test3"

[2018-09-27 14:29] status-open-bounty commented on #9
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x7a041f8dcea79c0993d0e9483046d9fb4756445cbb3af6c7d523b427e159de70](https://etherscan.io/tx/0x7a041f8dcea79c0993d0e9483046d9fb4756445cbb3af6c7d523b427e159de70)

[2018-10-05 01:39] #9 closed

[2018-10-08 11:35] mybit-bot opened #10 "Design the careers page for the MyBit website"
Introduction: MyBit needs a careers page to showcase open positions at the company.

Page Layout Structure
Core Page
About company
Open positions
CTA to join in DDF or Telegram

Secondary Pages
Job specific details which include job description, what you will work on, what you will bring to MyBit, additional details, and apply with button underneath text.

Requirements:
Follow Brand Guidelines and

[2018-10-08 11:35] status-open-bounty commented on #10
Balance: 0 ETH
Tokens: MYB: 12000.00
Contract address: [0x97628a6c108325701079b123e52356e5dff4f1ea](https://etherscan.io/address/0x97628a6c108325701079b123e52356e5dff4f1ea)
Network: Mainnet
Paid to: cryptnotiq
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-10-08 11:46] #2 closed

[2018-10-08 17:07] #10 closed

[2018-10-08 17:37] mybit-bot opened #12 "Design Career Page for mybit.io"

[2018-10-08 17:37] status-open-bounty commented on #12
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x2d5aa10ccb8793b536ba9f750f15dc67d5ab33d1228bfbb08f8576bfcf854ac3](https://etherscan.io/tx/0x2d5aa10ccb8793b536ba9f750f15dc67d5ab33d1228bfbb08f8576bfcf854ac3)

[2018-10-08 17:48] #6 closed

[2018-10-08 18:03] status-open-bounty commented on #3
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xfa55f30ea9264184c7881aa6836352a6712ad3ece5466dd67b52b2f4a523b0b0](https://etherscan.io/tx/0xfa55f30ea9264184c7881aa6836352a6712ad3ece5466dd67b52b2f4a523b0b0)

[2018-10-08 18:13] #4 closed

[2018-10-08 18:24] #5 closed

[2018-10-08 18:24] mybit-bot opened #13 "Design dApp tracker w. internal block explorer"
Introduction: MyBit needs an internal explorer and dApp tracker designed. Think of it as a hybrid of Kyber's Tracker, Etherscan, and dappradar used to showcase only transactions and other information specific to the MyBit Network and all dApps running on it.

Requirements:
Header includes: 24 hr MYB volume (pulled from coinmarketcap), MYB price and % change, circulating supply (- locked with +/- %

[2018-10-08 18:39] #7 closed

[2018-10-08 18:39] mybit-bot opened #14 "Animated Logo for Custom Load Screen"
Introduction: We take great pride in the small details at MyBit. This is why we need a custom load screen animation created and implemented for the MyBit Decentralised Development Fund (DDF) and MyBit Go.

Requirements: This should be an animation of the MyBit Logo that replaces the standard loading "circle." It needs to be Implemented on MyBit Go and the DDF so two separate pull requests are requ

[2018-10-08 18:39] status-open-bounty commented on #14
Balance: 0 ETH
Tokens: MYB: 7500.00
Contract address: [0xaec2e46941639665caaa00e191f6e900fb5e5cfd](https://etherscan.io/address/0xaec2e46941639665caaa00e191f6e900fb5e5cfd)
Network: Mainnet
Paid to: uivlis
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-10-11 08:06] uivlis commented on #14
Hi, I've been trying something like https://codepen.io/uivlis/pen/YJVKOG, what do you think?

[2018-10-12 14:29] vcnainala commented on #13
Hey... Is the bounty still open ??

[2018-10-13 12:06] mybit-bot opened #15 "Design MYDAX Interface"

[2018-10-13 12:06] mybit-bot opened #16 "Design Onboarding Chart for Go"
Introduction: We believe the onboarding chart for the MyBit Go application can be represented in a more appealing manner. This task is to redesign the chart and update the content accordingly so it better reflects the value of MyBit Go.

Requirements: The goal of the graphic is to showcase a comparison of MyBit Go vs. Traditional Funds and highlight the keypoints as to why MyBit Go has a strong co

[2018-10-13 12:06] mybit-bot opened #17 "Design MYB Voting Portal for Network Governance"
Introduction: This will be deployed under voting.mybit.io. In a move to decentralise network governance, we want to make the first step towards migrating control away from the core team. To do this, we want to enable anyone to propose a new task for the MyBit DDF and allow holders of MYB to vote on the proposed tasks.

Requirements:
1. Ability to submit a new task. Must require category (Developme

[2018-10-13 12:06] mybit-bot opened #18 "Design GUI for MyBit SDK"

[2018-10-13 12:11] #1 closed

[2018-10-13 12:21] status-open-bounty commented on #16
Balance: 0 ETH
Tokens: MYB: 4500.00
Contract address: [0x683b7d9270061fbff6c2b063b322ebe397b7fb49](https://etherscan.io/address/0x683b7d9270061fbff6c2b063b322ebe397b7fb49)
Network: Mainnet
Paid to: uivlis
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-10-13 16:50] mybit-bot opened #19 "Design user dashboard for DDF"
Introduction: We want to make it easy for people to manage and customise their experience with the DDF. This is why we need a user dashboard designed to encompass various features of the MyBit Platform.

Development Depends on tasks:
#66
#67
#112
#113

Requirements:
1. Dashboard should be easily accessible from main page of DDF.
2. Dashboard should include:
a) Notification settings (to change, upd

[2018-10-13 16:55] mybit-bot opened #20 "Design help center for DDF"
## Introduction
We want to make it easy for people to understand how to use the MyBit DDF. This is why we need a help center page designed.

## Requirements
1. Help Center should be easily accessible from main page of DDF with button text "Getting Started"
2. Help Center should include
* quicklinks to guides for required tools such as Using Github, Metamask, OpenBounty, report bug
* videos, blog p

[2018-10-13 16:55] status-open-bounty commented on #19
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xe4041f88964688c6d92aba1deae1e3f32b10028d0763d7cf96d439be364c14dd](https://etherscan.io/tx/0xe4041f88964688c6d92aba1deae1e3f32b10028d0763d7cf96d439be364c14dd)

[2018-10-13 17:00] status-open-bounty commented on #20
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x59d1a018a9712d3a01999ca373c68ca7974ad7c0c68a026e7d83070ae59ff58b](https://etherscan.io/tx/0x59d1a018a9712d3a01999ca373c68ca7974ad7c0c68a026e7d83070ae59ff58b)

[2018-10-13 17:11] mybit-bot opened #21 "Design MGMT Portal for DDF"
Introduction: We want to make it easy to manage the DDF. This is why we need a dedicated management portal designed.

Requirements:
1. Approve/Reject Funding with ability to comment. This should be a quicklist of all tasks which have been submitted but still require funding. Each task and description should be easily visible and a simply button to approve funding which triggers metamask should be

[2018-10-13 17:16] status-open-bounty commented on #21
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x9ecae4fe1902c79aa8c3a727880240a427b93a4fc2d046ef2f4c238f98880a1f](https://etherscan.io/tx/0x9ecae4fe1902c79aa8c3a727880240a427b93a4fc2d046ef2f4c238f98880a1f)

[2018-10-13 17:57] status-open-bounty commented on #15
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x0c7ceebb7301481a9282e9c0ebd793cc557a056748ffced8c44933c034b40da5](https://etherscan.io/tx/0x0c7ceebb7301481a9282e9c0ebd793cc557a056748ffced8c44933c034b40da5)

[2018-10-13 18:33] status-open-bounty commented on #17
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x96b4f4b6cc942cd5162b11b853e2d60863a1a8bacea3baf1e328b787d93dbb69](https://etherscan.io/tx/0x96b4f4b6cc942cd5162b11b853e2d60863a1a8bacea3baf1e328b787d93dbb69)

[2018-10-13 19:15] mybit-bot opened #22 "Design Screen for MyBit Options dApp"
Introduction: MyBit Options is missing a screen required to interact with the smart contracts for withdrawing. Once an option is eligible for withdrawal, it must be manually requested.

This can be seen in the trust dApp:
https://www.dropbox.com/s/o37c744pqjv7e32/Screen Shot 2018-10-13 at 9.13.49 PM.png?dl=0

Requirements:
1. Add in a screen similar to the one referenced above to the design of MyB

[2018-10-13 19:20] status-open-bounty commented on #22
Balance: 0 ETH
Tokens: MYB: 17000.00
Contract address: [0x06989ecb0616b037215d2475c37a668ae3be3681](https://etherscan.io/address/0x06989ecb0616b037215d2475c37a668ae3be3681)
Network: Mainnet
Paid to: jjperezaguinaga
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-10-13 19:35] mybit-bot opened #23 "Design Interface for IP Use Case"
## Introduction
The MyBit SDK makes it easy for anyone to register an asset and issue dividend tokens representing ownership. This is perfect for registering (digital) intellectual property such as a video. Through this model, anytime someone pays to view the video, revenue automatically is split to the holders of the dividend tokens aka IP owners.

The goal of this design is to create the UI for

[2018-10-13 19:35] status-open-bounty commented on #23
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x3886aed27835c65683781810554d74fd076faacd6f298f4b260537413e877949](https://etherscan.io/tx/0x3886aed27835c65683781810554d74fd076faacd6f298f4b260537413e877949)

[2018-10-16 19:37] 0xjjpa commented on #13
@CS76 It is! Let me know if you want to work on it so I can add the label `under-development` to notify that someone's already working on it.

[2018-10-20 08:28] uivlis commented on #16
Let me have a shot at it. How's this one:
![mybit_onboarding_comparison_chart](https://user-images.githubusercontent.com/7414543/47253434-2acd2500-d45b-11e8-88e6-25b21aa330ba.png)

[2018-10-22 19:57] ghost commented on #16
Thanks for the design. Please check our UI kit (https://ui.mybit.io/) for buttons and check to make sure the colours are the same used within the application. For example we don't use the light blue or purple.

[2018-10-22 22:52] 0xjjpa commented on #14
Hey @uivlis! Apologies for the _very_ delayed response. Yes! Could you create a pull request with the link you posted (https://codepen.io/uivlis/pen/YJVKOG) on this repo as a new pull request with the title "Fixes #14" so I can poke my team to take a look at it :)

[2018-10-23 05:28] uivlis commented on #16
Hope this one works:

![mybitgoonboardingchart](https://user-images.githubusercontent.com/7414543/47337661-91da1c00-d69d-11e8-9913-3b91e81f6d83.png)

[2018-10-23 07:50] ghost commented on #16
Modal boxes should have a 4 radius.
MyBit logo should be the MyBit Go logo.
Modal colour white with #4A4A4A colour text instead of the purple.
"MyBit Go makes it easy..." needs to be bigger.
Thanks!

[2018-10-23 08:14] uivlis commented on #16
Got it:
![mybitgoonboardingchart](https://user-images.githubusercontent.com/7414543/47345982-c4dbda00-d6b4-11e8-96a4-891dbb1e080e.png)

[2018-10-24 04:51] 0xjjpa commented on #16
@AspacehUK What do you think? ☺️

[2018-10-24 05:19] 0xjjpa commented on #16
@uivlis Out of curiosity, how do you visualise this on mobile?

[2018-10-24 05:23] 0xjjpa commented on #14
Under development by @uivlis

[2018-10-24 09:40] ghost commented on #16
Mobile is a good question.

[2018-10-26 20:25] uivlis commented on #16
So... should I do (or, think of) a mobile version?

[2018-10-26 20:29] 0xjjpa commented on #16
@uivlis I think a mobile version is outside the scope of this bounty. Let's open a new bounty for mobile. That being said, we are not still 100% convinced on the current one, since doesn't really highlights the ups and downs of normal/conventional systems over MyBit. Furtheremore, the Features section has the same style as the comparison and the vertical spacing between the columns doesn't seem to

[2018-10-26 20:34] uivlis commented on #16
Oh fine, though I have one more question. Is it that I can come up with the ups and downs of MyBit vs. conventional systems based on my considerations, or do you have a preferred list, one longer than the ones mentioned in the original onboarding?

[2018-10-26 20:39] 0xjjpa commented on #16
The content should always be the same, so yes, content wise stick to this, but propose a design that's able to highlight the differences between those, and make MyBit look better in comparison.

![image](https://user-images.githubusercontent.com/1128312/47591421-d8669980-d96f-11e8-8378-c09b50a926ae.png)

[2018-10-26 23:34] uivlis commented on #16
![mybitgoonboardingchart2](https://user-images.githubusercontent.com/7414543/47598937-6eb8b080-d9ac-11e8-83ca-113cce1f10d2.png)

[2018-10-27 13:18] ghost commented on #16
hey @uivlis do you have a mobile version? We are unsure how that would look. Also, we are looking for other alternatives to the 3 column design, something that works better on mobile.

[2018-10-27 13:20] cryptnotiq commented on #16
Also try to abstract away from templated designs. Ideally we are striving for a custom solution.

[2018-10-27 15:53] 0xjjpa commented on #16
@uivlis 👋 Discussed internally and we probably going to rerun this bounty with more information, but we want to pay you for your work :) Please submit a pull request with the title or description "Fixes #16" and the source files you have came up with. Thank you!

[2018-10-27 16:09] uivlis commented on #16
@jjperezaguinaga I feel sort of embarrassed I couldn't deliver what you expected but thank you. As a token of repentance, poke me up if you feel I need to volunteer for the future bounty.

[2018-10-27 16:38] 0xjjpa commented on #16
@uivlis No worries! Please don't forget to open a pull request, an additional commit won't be enough.

[2018-10-27 17:30] 0xjjpa commented on #16
@uivlis Please open a new pull-request with your source files and the title and description `Fixes #16` in this repository.

[2018-10-27 17:38] #16 closed

[2018-10-29 13:27] cryptnotiq commented on #23
test.

[2018-10-30 15:33] jjperezaguinaga opened #26 "MyBit is hiring skilled Designers across the world."
![MyBit](https://files.mybit.io/social/mybit_facebook_cover.png)

# About MyBit
MyBit AG is a Swiss-based decentralised company that enables the rapid building, testing, and deployment of wealth management applications on the Ethereum Blockchain. We are developing a series of products from applications to libraries to revolutionise the financial market using the token economy.

You can read our [o

[2018-11-01 20:55] chloedeady commented on #22
Hi! Just wondering where I can find the current design files for the Options Dapp, thanks!

[2018-11-01 21:00] ghost commented on #22
Hi Chloe, one minute I'll get it for you.

[2018-11-01 21:10] ghost commented on #22
Please see attached.
[Micro dApp Option.zip](https://github.com/MyBitFoundation/MyBit.design/files/2540123/Micro.dApp.Option.zip)

[2018-11-01 21:11] ghost commented on #22
And let me know if you have any questions.

[2018-11-01 21:23] chloedeady commented on #22
@AspacehUK Hi, is the requirement to deliver a design file or to build a functioning page? The final art board you sent me is similar to what is being asked for already which lead me to this question. Thanks for the clarification.

[2018-11-01 22:08] ghost commented on #22
@chloedeady  Yes, feel free to re-design and make a working prototype. The missing screen has been done.

[2018-11-02 10:18] uivlis commented on #15
Hi there! Would you be kind enough to upload some of MYDAX's logos/themes? I couldn't find any in the public brand files.

[2018-11-02 10:21] ghost commented on #15
Hi @uivlis, sure I'll create you a design package.

[2018-11-02 20:39] uivlis commented on #15
Hello again, any updates on the design package?

[2018-11-02 20:40] ghost commented on #15
Got it here, 1 sec.

[2018-11-02 20:49] ghost commented on #15
Here you go mate.
[MYDAX-assets.zip](https://github.com/MyBitFoundation/MyBit.design/files/2544069/MYDAX-assets.zip)

[2018-11-02 23:10] uivlis commented on #15
![mydax home](https://user-images.githubusercontent.com/7414543/47944597-41688700-df05-11e8-9610-70a206466e9d.png)
![mydax search 1](https://user-images.githubusercontent.com/7414543/47944598-42011d80-df05-11e8-966b-bc6812015d87.png)
![mydax search 2](https://user-images.githubusercontent.com/7414543/47944599-42011d80-df05-11e8-9b7d-22dc66eea166.png)

[2018-11-02 23:35] ghost commented on #15
Still needs work, I'll get you some wireframes over the weekend so you know where to take it.

[2018-11-03 08:24] uivlis commented on #15
Am waiting anytime now.

[2018-11-03 08:35] uivlis commented on #15
Also, is it possible to provide wireframes for [this](https://github.com/MyBitFoundation/MyBit.design/issues/17)? Would appreciate.

[2018-11-03 10:16] ghost commented on #15
I haven't looked into that task. But would recommend you have a go, there is plenty of examples online.

[2018-11-03 10:16] ghost commented on #15
I'll get you some basic wireframes for MYDAX later today.

[2018-11-03 11:22] cryptnotiq commented on #22
@AspacehUK if the missing screen is complete let me know and we will close this task and move it to the development section.

[2018-11-03 14:44] ghost commented on #22
I updated the missing screen a while ago. @cryptnotiq But we wanted this dApp re-designing right?

[2018-11-03 15:01] cryptnotiq commented on #22
@jjperezaguinaga can you please close this task. I will open a new one with updated description.

[2018-11-03 22:30] chloedeady commented on #12
Hello. [Here's](https://xd.adobe.com/view/7313cc3f-1456-4b7f-5bcf-5971ff2d1f15-0522/) a link of my proposed design.

Let me know what you think and/or if there's anything to change.

Thank you

[2018-11-04 05:30] uivlis commented on #15
Well, maybe today?

[2018-11-04 10:39] ghost commented on #15
Here is a rough outline of the exchange screen.
![mydax-exchange](https://user-images.githubusercontent.com/18680690/47963029-05791300-e026-11e8-979f-b64a6b14646c.png)

[2018-11-04 16:56] mybit-bot opened #27 "Give MyBit Trust a Fresh New Look"
Introduction: We want to give MyBit Trust a design makeover (https://trust.mybit.io/). The goal is to focus on the landing and how it works page(s) to create a more sleek and modern design that follows our brand guidelines and UI kit specifications. You have the freedom to redesign as much of the dApp as you desire, but the focus should be on the landing page and how it works (which could be made

[2018-11-04 17:01] status-open-bounty commented on #27
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x0e4dd3ace3a380434e5d6c51e98c4db5ea0f283495be2644c0db7783eaaaf7b0](https://etherscan.io/tx/0x0e4dd3ace3a380434e5d6c51e98c4db5ea0f283495be2644c0db7783eaaaf7b0)

[2018-11-04 17:30] cryptnotiq commented on #12
@AspacehUK can you provide some feedback for this? I like the last section that has full time positions but I think everything else is pretty scrambled and could be displayed much more cohesively.

[2018-11-04 18:12] ghost commented on #12
@chloedeady Hi Chloe,  have a look at the current site (mybit.io) because we don't use the red diamonds on the site, the font colour is different, the modal radius is a little smaller and the button colour/size/radius is different. Let me know if you have any questions, I'll be happy to help out.

[2018-11-04 18:14] mybit-bot opened #28 "Design Graphics for MyBit SDK Blog"
## Introduction
We want to add in some more visuals to the MyBit SDK Blog. https://medium.com/mybit-dapp/mybit-sdk-c5138657f66b

## Requirements
1. Turn this into a more appealing design.

[code]

2. Add in 1-2 additional graphics of your choice that appropriately describe a section of the blog.

## Expected Deliverables
1. Vector images of finalised designs.
2. Images added to blog and shared (re

[2018-11-04 18:19] mybit-bot opened #29 "Design Graphics for What is MyBit? Blog"
## Introduction
We want to add in some more visuals to the What is MyBit? (introduction) Blog.https://medium.com/mybit-dapp/introduction-a8275e6bcbec

## Requirements
1. Turn this into a more appealing design.

[code]

2. Add in 1-2 additional graphics of your choice that appropriately describe a section of the blog.

## Expected Deliverables
1. Vector images of finalised designs.
1. Images added

[2018-11-04 18:19] mybit-bot opened #30 "Design Graphics for MyBit Token Blog"
## Introduction
We want to add in some more visuals to the MyBit Token Blog. https://medium.com/mybit-dapp/the-mybit-token-b79c4b1b8dbb

## Requirements
1. Turn this into a more appealing design.

**Token Details**
Token Name: **MyBit**
Symbol: **MYB**
Decimals: **18**
Total Supply: **180,000,000**
Circulating Supply: **143,500,000** (after Phase 2 of token distribution)
CoinMarketCap: https://coi

[2018-11-04 18:19] mybit-bot opened #31 "Design Graphics for DAO Roadmap Blog"
## Introduction
We want to add in some more visuals to the DAO Roadmap Blog. https://medium.com/mybit-dapp/how-mybit-is-evolving-into-a-decentralised-autonomous-organisation-ff4b60fedbde

## Requirements
1. Add in a minimum of two (2) additional graphics of your choice that appropriately describe a section of the blog.

## Expected Deliverables
1. Vector images of finalised designs.
2. Images adde

[2018-11-04 18:24] mybit-bot opened #32 "Design Graphics for Product Roadmap Blog"
## Introduction
We want to add in some more visuals to the Product Roadmap Blog. https://medium.com/mybit-dapp/a-look-at-mybits-past-present-and-future-plans-defbbdba2f67

## Requirements
1. Add in a minimum of two (2) additional graphics of your choice that appropriately describe a section of the blog.

## Expected Deliverables
1. Vector images of finalised designs.
2. Images added to blog and sh

[2018-11-05 05:26] uivlis commented on #15
![surface book](https://user-images.githubusercontent.com/7414543/47979472-fcdb1800-e0cb-11e8-8595-02b80bb25748.png)

[2018-11-05 11:58] ghost commented on #15
@uivlis I'm unsure what I'm looking at here, is it supposed to be in black and white? Have a look at other exchange UIs and go from there. Otherwise I'd leave it for someone with experience in designing UI's for financial products. The task itself is a couple of weeks worth of work due to it's complexity and should implement our current UI Kit found here: https://ui.mybit.io/

[2018-11-05 23:30] writeprovidence commented on #27
ready to work on this bounty

[2018-11-06 00:16] csmartinsfct commented on #27
Go for it! Any questions let us know.

[2018-11-06 12:57] 0xjjpa commented on #26
Hi @writeprovidence! Thank you for your submission! Great work, we have paid out the bounty equivalent for your work, and we will like to follow-up on next steps. Please send me your submission via Gitcoin Slack or email (jj@mybit.io) to provide you with the next step instructions.

In the meantime, the bounty is still on and we are still receiving other applicants. Have fun!

[2018-11-06 15:24] writeprovidence commented on #26
thank you @jose Aguinaga, i appreciate

On Tue, Nov 6, 2018 at 12:57 PM Jose Aguinaga <notifications@github.com>
wrote:

[2018-11-06 15:53] 0xjjpa commented on #26
@uivlis Please send your work as a submission within Gitcoin so I can pay your work out ☺️

[2018-11-06 15:53] writeprovidence commented on #27
ok

[2018-11-06 16:24] 0xjjpa commented on #22
Closing.

[2018-11-06 16:24] #22 closed

[2018-11-06 17:12] writeprovidence commented on #30
starting work on this bounty

[2018-11-06 21:32] writeprovidence commented on #27
ok thanks@csmartinsfct

[2018-11-07 14:10] cryptnotiq commented on #30
@writeprovidence great - just tag @aspacehuk if you have any questions.

[2018-11-07 14:11] ghost commented on #30
Here with anything you need.

[2018-11-09 13:37] writeprovidence commented on #30
thanks@AspacehUk

[2018-11-09 13:39] writeprovidence commented on #30
please can someone look at this design, is this design really what is need?

[2018-11-09 13:40] writeprovidence commented on #30
![blog_image-01](https://user-images.githubusercontent.com/31359701/48265651-f1b61e00-e424-11e8-82e5-41f480f11635.png)

[2018-11-09 13:49] writeprovidence commented on #30
does this really reflect on what is needed

[2018-11-09 13:53] 0xjjpa commented on #30
@writeprovidence I'm afraid not but was happy to provide you with some feedback privately through Slack ☺️ . @AspacehUK is also glad to give you some feedback.

[2018-11-09 14:05] writeprovidence commented on #30
thanks for the review Jose

[2018-11-09 14:07] writeprovidence commented on #30
going to working on it again

[2018-11-09 14:15] ghost commented on #30
Hi @writeprovidence while I agree with Jose It's not what we're looking for I'll try and be specific on some of the technical details. Firstly the colours at first glance seem to be wrong, It doesn't look like anything we've done before (Please check other blogs, the mybit website and the brand book) I'm not sure if this was intentional or not?

[2018-11-09 14:17] ghost commented on #30
Then minor things like the logo, the icons, using URLs within a graphic seems like an odd design choice.  While I appreciate you trying to evolve the brand into different areas the above design is a step back for me.

[2018-11-09 14:42] writeprovidence commented on #30
@AspacehUK thanks for the review

[2018-11-10 15:17] SuiradNiwt commented on #13
Can I work on this?

[2018-11-11 20:57] mihaelkrieger commented on #32
Created four graphics that can be used as titles for MyBit Go, DDF, Network and SDK in the blog post. They are in .png format (currently used by the blog) and in vector .svg format. Let me know if you also need Adobe Illustrator source files.

I would like to add them to the blog as stated in the deliverables section, but I don't have access to edit.

[MyBit_blog_graphics_vector.zip](https://githu

[2018-11-12 11:27] ghost commented on #32
Hi @mihaelkrieger, the above task was for "Add in a minimum of two (2) additional graphics of your choice that appropriately describe a section of the blog." If this is for a different task can you please link it here. Thanks!

[2018-11-12 12:59] mihaelkrieger commented on #32
Yes, actually these are for the task described bere. I just created four graphics instead of two so the blog post has all the sections covered. If you had something different in mind, please let me know.

Here is a sample of how the blog post would look with graphics implemented.
![mybit_blog_with_graphics](https://user-images.githubusercontent.com/44701819/48348974-27584280-e683-11e8-9538-0162b83

[2018-11-13 14:02] ghost commented on #32
Hi @mihaelkrieger Thanks for the above visual. I'm going to link this [blog](https://medium.com/mybit-dapp/mybit-announcement-blog-october-2018-db783447030d) for some inspiration, main things we like to focus on with any of our graphics is simplicity. If the graphic doesn't tell the story then it's important to have clear text on it.

[2018-11-13 14:02] ghost commented on #32
I'll create a PDF today with a couple of the issues I've spotted with the above graphics.

[2018-11-13 14:03] ghost commented on #32
Thanks again for your time and effort on this.

[2018-11-13 16:58] writeprovidence commented on #30
this is how far i have gone, i felt i should share what i have been doing so far, i dont know if am actually heading somewhere.

[2018-11-13 17:22] writeprovidence commented on #30
![mybitblogdesign-01](https://user-images.githubusercontent.com/31359701/48430890-4250b280-e768-11e8-81a8-7c592b98d987.png)

[2018-11-13 17:26] writeprovidence commented on #30
![mybitblogdesign-02](https://user-images.githubusercontent.com/31359701/48431123-da4e9c00-e768-11e8-822b-245ffe70843b.png)

[2018-11-13 17:29] writeprovidence commented on #30
![mybitblogdesign-04](https://user-images.githubusercontent.com/31359701/48431346-63fe6980-e769-11e8-9a47-2dadd4ee8ea8.png)

[2018-11-13 17:31] writeprovidence commented on #30
![mybitblogdesign-05](https://user-images.githubusercontent.com/31359701/48431498-bf305c00-e769-11e8-92a1-d5dfb77dfec0.png)

[2018-11-13 18:21] ghost commented on #30
Hi @writeprovidence I don't think having an individual graphic for the different token attributed is a good idea. It needs to be something easily readable and on brand. Don't try and over design it.

[2018-11-13 18:22] ghost commented on #30
My recommendation would be something like this: Graphic icon then data&content.
<img width="479" alt="screenshot 2018-11-13 at 19 19 53" src="https://user-images.githubusercontent.com/18680690/48434103-20abf700-e779-11e8-973f-fc910bcd997d.png">

[2018-11-13 18:23] ghost commented on #30
And don't have links or URLs in the content because you can't expect nor would you want a reader to manually type a URL from an image into a browser.

[2018-11-13 18:23] ghost commented on #30
I hope this feedback is productive.

[2018-11-13 19:27] writeprovidence commented on #30
thanks@AspacehUk for ur comment, definately productive

[2018-11-14 14:59] writeprovidence commented on #30
how about this?

[2018-11-14 15:01] writeprovidence commented on #30
![blogdesign-01](https://user-images.githubusercontent.com/31359701/48490733-fa8c6280-e81d-11e8-8d8a-e78704f15d31.png)

[2018-11-14 16:00] cryptnotiq commented on #13
hey @SuiradNiwt yes you can.

[2018-11-14 16:02] 0xjjpa commented on #30
Hi @writeprovidence , might be better for you to jump it to our [DDF Gitter Room](https://gitter.im/Mybit-Foundation/DDF), so you can a quicker feedback loop with this bounty. Pinging @AspacehUK to also join there ☺️

[2018-11-14 17:01] ghost commented on #32
hi @mihaelkrieger here is the PDF with a few examples of design details that need fixing to go along with my above feedback. The best example is the document I linked above.

[MyBit.design:issues:32.pdf](https://github.com/MyBitFoundation/MyBit.design/files/2581764/MyBit.design.issues.32.pdf)

[2018-11-15 11:43] mihaelkrieger commented on #32
Hi @AspacehUK Thank you for the guidance. I'm still getting used to the overall graphic language of MyBit. Here are revised versions of the previous graphics in .png and a screen of how the blog post would look like. Please let me know if I'm more in the right direction. If the graphics are ok, I can also upload the vector files.
![mybit_network_blog_title_graphic_png](https://user-images.githubus

[2018-11-15 12:05] ghost commented on #32
Thanks @mihaelkrieger I'm going to set up a document we can share the designs, I'll message you the link on [gitter](https://gitter.im/Mybit-Foundation/DDF).

[2018-11-15 14:31] mihaelkrieger commented on #32
@AspacehUK Sounds good. Just joined the gitter group. Thanks!

[2018-11-17 21:08] writeprovidence commented on #30
![medium-01](https://user-images.githubusercontent.com/31359701/48665793-da260780-eaac-11e8-84ad-1ad1bfa83ea4.png)

[2018-11-17 21:10] writeprovidence commented on #30
![medium-02](https://user-images.githubusercontent.com/31359701/48665816-25401a80-eaad-11e8-9167-07ac38dba571.png)

[2018-11-17 22:00] ghost commented on #30
Hi @writeprovidence this is what I was thinking when I posted the example above also reads and fits better in portrait.
<img width="384" alt="screenshot 2018-11-17 at 22 57 29" src="https://user-images.githubusercontent.com/18680690/48666148-3c3a3900-eabc-11e8-8a0f-9c3af363563d.png">

[2018-11-17 22:02] ghost commented on #30
You really don't need to fill the space with meaningless graphical elements. Focus on the content.

[2018-11-17 22:22] writeprovidence commented on #30
ok, thank you for this image explanation, going back to redesigning immediately.
are those icons good enough for me to reuse?

[2018-11-17 22:35] ghost commented on #30
Please create graphics like [this](https://medium.com/mybit-dapp/mybit-announcement-blog-october-2018-db783447030d) for the different sections as per the task description. For example "Cryptographic Fuel" is an easy section to do. Please use our colours and icons.

[2018-11-17 23:00] writeprovidence commented on #30
ok, will try my best, thanks for the guide

[2018-11-18 21:08] writeprovidence commented on #30
![blogpost-01](https://user-images.githubusercontent.com/31359701/48678046-da3e0a00-eb75-11e8-933a-43e658b7dbb1.png)

[2018-11-18 21:59] ghost commented on #30
Thanks for your effort @writeprovidence but this isn't the quality we're looking for. I wouldn't recommend further design related tasks in future, we've spent a lot of time on a relatively simple task. I don't want to waste anymore of your time.

[2018-11-19 11:09] writeprovidence commented on #30
thank you@AspacehUk

[2018-11-19 12:30] uivlis commented on #26
Hey @jjperezaguinaga, just in case you omitted, I submitted blank work a few days ago, because I already provided some links in my work application. Hope that was the case for the delay.

[2018-11-19 13:51] 0xjjpa commented on #26
@uivlis Thank you for your patience! You are correct, the submission was received, and your work was paid out. Please reach me via Gitcoin Slack or email (jj@mybit.io) to provide you with the next step instructions.

[2018-11-19 13:52] 0xjjpa commented on #26
@hedonistjugend Thank you for your submission! Please reach me via Gitcoin Slack or email (jj@mybit.io) to provide you with the next step instructions.

[2018-11-19 21:11] 0xjjpa commented on #26
cc @cryptnotiq

[2018-11-21 14:49] 0xjjpa commented on #26
@wazdevelopment Your application was rejected due to fitting more of a developer than a designer.

[2018-11-21 15:12] #26 closed

[2018-12-03 18:07] slashbinslashnoname commented on #12
Yes you are using them ;) (at the middle of the title)

![reddots](https://user-images.githubusercontent.com/515119/49392400-c387dd80-f747-11e8-8082-072f8971cc2a.png)

[2018-12-03 18:14] slashbinslashnoname commented on #12
is it still valid ? I can do something I'd be proud of for you

[2018-12-03 18:17] ghost commented on #12
@slashbinslashnoname the above issues never got fixed so I presume this task is still open. It's a pretty simple task because visually it just follows the current site.

[2018-12-03 22:33] slashbinslashnoname commented on #12
Ok , I take the lead

On a good way ?
https://sketch.cloud/s/wrEeD

I've taken a lots of used components from ui.mybit.io, from the design guideline, and tried to follow as possible the lines from #issue-367888051 with a little freedom to have a balanced design.

I'll continue tomorrow another iteration, following your comments, in order to made it for tablets and mobile viewports.

I've setup a S

[2018-12-03 22:35] ghost commented on #12
Good effort, I'll go through it tomorrow. Please note we don't use the red squares on the mybit site. Thanks!

[2018-12-03 22:42] slashbinslashnoname commented on #12
Good, it needs to remove them on the _About > Company_ page.  I've updated the design.

[2018-12-04 13:45] ghost commented on #12
Can you upload it to a figma or invision doc so I can leave comments?

[2018-12-05 08:56] slashbinslashnoname commented on #12
you can comment on sketch or figma https://www.figma.com/file/clZfufHcA6Gfg0WlIYN2eozo/designmybit?node-id=0%3A2

[2018-12-05 17:22] cryptnotiq commented on #12
@AspacehUK can you review this?

[2018-12-05 17:25] ghost commented on #12
I've left comments on the figma doc. Waiting for changes @cryptnotiq

[2018-12-05 17:38] slashbinslashnoname commented on #12
I got them, I'll submit another version soon with your advises. I would like to know if it starts to suit your needs. I submit a new version ASAP. I'll answer here if I need something. Thank you for your comments.

[2018-12-05 17:39] ghost commented on #12
Thanks @slashbinslashnoname let me know if you have any Qs.

[2018-12-05 19:14] bruceherve commented on #3
If my understanding is correct, a new front end is needed and built using Ant Design(React)
so, is this issue still available and if so may I work on it? are there any wire frames available or any additional materials provided?

[2018-12-05 20:25] ghost commented on #3
Hi @hernino please go to the [MyBit Go dApp](https://app.mybit.io), fund an asset and check out the current portfolio page. We've got an update coming out at the end of the year but feel free to have a go at implementing the above requirements.

[2018-12-06 06:03] SuiradNiwt commented on #13
@cryptnotiq ah, sorry, didn't pick this up. I'll get started.

[2018-12-06 16:55] bruceherve commented on #3
Hi @AspacehUK I think it would  be better to wait for the update at the end of the year, I have seen other bounties from MyBit that I can work on

[2018-12-06 22:01] ghost commented on #3
@hernino that works. Lets catch up on this next year.

[2018-12-07 06:58] bruceherve commented on #3
@AspacehUK works for me too. Just curious, did you folks remove all the other bounties on  openbounty? Where did you move to, gitcoin perhaps or you'll post them next year too?. Will they be on openbounty or gitcoin?

[2018-12-07 12:33] 0xjjpa commented on #3
Hi @hernino ! We indeed are moving to Gitcoin and Bounties Network. We are doing a rolling upgrade to migrate all our bounties so there’s no downtime for anyone :blush:

[2018-12-08 06:13] #3 closed

[2018-12-08 06:42] mybit-coordinator commented on #13
Hi @SuiradNiwt we are unfortunately closing this bounty for now. Please keep tuned for further bounties, and use [Gitcoin](http://gitcoin.co) in the future where we will be hosting all our new bounties. Thank you! 🙏

[2018-12-08 06:43] #13 closed

[2018-12-08 06:45] #19 closed

[2018-12-08 06:47] mybit-coordinator commented on #27
Hi @writeprovidence we are unfortunately closing this bounty for now. Please keep tuned for further bounties, and use [Gitcoin](https://gitcoin.co/) in the future where we will be hosting all our new bounties. Thank you! 🙏

[2018-12-08 06:51] #21 closed

[2018-12-08 06:52] #27 closed

[2018-12-08 12:45] writeprovidence commented on #27
thank you too @mybit-coordinator

[2018-12-15 19:24] bruceherve commented on #20
Yes I am working on this ticket and any extras materials that would aid would be greatly appreciated.

[2018-12-15 19:27] bruceherve commented on #23
I am working on this issue and any extras materials that would give guidance such as mockups and others would be appreciated.

[2018-12-15 19:46] ghost commented on #23
Hi @hernino please upload what you've got so far for review and I'll put you in the right direction. You can check our U kit [here](https://ui.mybit.io/) and grab the design files from the AD website [here](https://ant.design/) and check out some examples of our current applications to see it in action.

[2018-12-15 19:49] ghost commented on #20
Hi @hernino please upload what you've got so far for review and I'll put you in the right direction. [Here](https://app.mybit.io/help) is a link to the MyBit Go help page mentioned in the above brief. I've attached links to out UI kit and design files on the IP use case.
Thanks,
Ash

[2018-12-15 20:03] bruceherve commented on #20
Hi @AspacehUK please note that although I applied to work on this ticket last Sunday, I only got approved for work yesterday (Friday). But now that You've pointed to designs I hope to move quickly.

[2018-12-22 17:47] bruceherve commented on #23
I got the designs and I am actively working to implement them but given the coming holidays I assumed the work would be continued after them, early next year

[2018-12-22 17:51] bruceherve commented on #20
Well I got the designs and I am actively working to implement them, but given the coming holidays I assumed that the work would continued/checked in early next year after the holidays.

[2018-12-27 22:10] bruceherve commented on #20
Hello I am still working on the issue.

[2018-12-27 22:12] bruceherve commented on #23
Hello I am still working on the issue.

[2018-12-31 19:11] bruceherve commented on #20
Still working on the issue

[2018-12-31 19:12] bruceherve commented on #23
Still working on the issue

[2019-01-02 11:31] bruceherve commented on #20
**you can follow the development on the help center at this repo**: https://github.com/hernino/help-center

[2019-01-04 14:20] willsputra commented on #31
Hi @kimrice, William from Gitcoin here. Are you still working on this issue?

[2019-01-05 17:27] bruceherve commented on #20
Still working on the issue

[2019-01-05 17:28] bruceherve commented on #23
Still working on the issue

[2019-01-08 23:32] mybit-coordinator commented on #20
@hernino Seems like you are still working on it (we imported your project through [Glitch](https://stripe-emery.glitch.me/), looks good!), so please just update us when you feel you have something we can review on ☺️ .

[2019-01-08 23:34] mybit-coordinator commented on #23
👋 @hernino it would be great if you can share what you had been working on to help you with quick feedback. Otherwise feel free to drop by our [Gitter channel](https://gitter.im/Mybit-Foundation/DDF) to discuss with the team directly.

[2019-01-09 00:57] bruceherve commented on #20
@mybit-coordinator Thanks, I will certainly give an update

[2019-01-09 01:02] bruceherve commented on #23
well I will certainly do that

[2019-01-09 04:13] mybit-coordinator commented on #31
Hi @kimrice, you had been removed from this bounty for the time being. Please reapply if you feel you want to continue on this, thank you! ☺️

[2019-01-12 17:44] bruceherve commented on #20
still working on the issue

[2019-01-12 17:45] bruceherve commented on #23
Still working on the issue

[2019-01-14 07:42] cryptnotiq commented on #32
@AspacehUK is this task completed?

[2019-01-14 11:15] ghost commented on #32
Messaged you on gitter @mihaelkrieger

[2019-01-15 14:16] bruceherve commented on #23
The code for this use case will be here:  https://github.com/hernino/asset-registration

[2019-01-17 18:30] bruceherve commented on #20
Yeah still working on the issue

[2019-01-18 17:18] bruceherve commented on #23
Yeah, still working on the issue

[2019-01-21 17:45] bruceherve commented on #20
Yep,still working on the issue

[2019-01-24 17:18] bruceherve commented on #23
Still working on the issue

[2019-01-24 21:46] xxdetourxx commented on #32
Hey guys, put together a couple simple graphics just for some flare in a couple parts of the blog post. Simple graphics, I didnt have access to a vector of the logo, so I made one up. Let me know what you think.
![mybit_network_mockup_v2_01242019](https://user-images.githubusercontent.com/4805110/51710566-904f2580-1ff7-11e9-8096-2740ba39f5d1.jpg)
![mybit_phase2_mockup_v2_01242019](https://user-ima

[2019-01-29 13:12] hedonistjugend commented on #32
@xxdetourxx
Hey! Sorry for the delay and thanks for submission. Your current icons/illustrations do look a bit too simple and also do not match the context and colours.
Here I combined some of our previous illustrations: https://www.figma.com/file/Sq6HF7MMt8cgSRUFLXWtJnay/MyBit-Icons-etc?node-id=0%3A1

[2019-01-29 19:37] rd123myb commented on #32
My apologies also @hedonistjugend @xxdetourxx for not addressing this submission earlier.

[2019-04-04 22:05] #32 closed

[2019-04-04 22:17] #31 closed

[2019-04-04 22:26] #30 closed

[2019-04-04 22:32] #23 closed

[2019-04-04 22:32] #20 closed

[2019-04-04 22:34] #17 closed

[2019-04-04 22:48] #29 closed

[2019-04-04 22:52] #28 closed